.contact-container {
  background-color: #191c31;
}

.contact-footer {
  background-color: #191c31;
}

.contact-section {
  background-color: #191c31;
  color: #fff;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 5px;
  margin-bottom: 2.5em;
}

.img-contact {
  max-width: 700px;
  width: 100%;
  min-width: 300px;
}

.contact-form {
  margin-left: 2em;
}

.contact-form h4 {
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-right: 2em;
}

.form input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form textarea {
  height: 150px;
  background: none;
  color: #fff;
  padding: 1.5em;
  border: 1px solid #fff;
}

.btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: aqua;
  border-radius: 20px;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: #fff;
}

.portfolio-section {
  background-color: #191c31;
}

.portfolio-container {
  background-color: #191c31;
}

.porfolio-footer {
  background-color: #191c31;
}

.flex-item img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.sobremi-img {
  border: 7px solid aqua;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 5px;
  margin-bottom: 2.5em;
}

.img-sobremi {
  max-width: 700px;
  width: 100%;
  min-width: 500px;
}

.sobremi-info {
  margin-right: 50px;
  padding: 3em;
}

.sobremi-cv {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.sobremi-container {
  background-color: #191c31;
}

.sobremi-cv {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 2rem;
  cursor: pointer;
}
.sobremi-cv:hover {
  background-color: #fff;
}

.sobremi-footer {
  background-color: #191c31;
}

html,
body,
.container-fluid {
  height: 100%;
  background-color: #191c31;
}

.style-navbar {
  background-color: #191c31;
  color: #fff;
  padding: 2rem;
}

.nav-item-link {
  margin-right: 1rem;
}

.navbar-item a:hover {
  background-color: aqua;
  color: #191c31 !important;
  transition: background-color ease-in 0.4s;
  border-radius: 20px;
}

.index-container {
  background-color: #191c31;
}

.flex-item {
  width: calc(100% - 1rem);
}

.toggle-menu,
.info-content_subtitle,
.contact-toggle_menu {
  display: none;
}

.content-info {
  font-size: clamp(4vw, 1.5em, 3em);
}

.info-content-p {
  font-size: clamp(2vw, 1.5em, 3em);
}

span {
  color: aqua;
}

p {
  margin-top: 10px;
  font-size: 30px;
}

.download-cv {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 2rem;
  cursor: pointer;
}
.download-cv:hover {
  background-color: #fff;
}

.fa-linkedin,
.fa-github,
.fa-instagram {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: solid aqua;
  border-radius: 50%;
  font-size: 2rem;
  color: aqua;
  margin: 3rem 1.5rem 3rem 0;
  cursor: pointer;
}

.index-footer {
  background-color: #191c31;
}

/*# sourceMappingURL=styles.css.map */
