$main-color: aqua;
$secondary-color: #191c31;
$terciary-color: #fff;

.contact-container {
  background-color: #191c31;
}

.contact-footer {
  background-color: #191c31;
}

.contact-section {
  background-color: #191c31;
  color: #fff;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 5px;
  margin-bottom: 2.5em;
}

.img-contact {
  max-width: 700px; width: 100%; min-width: 300px
}

.contact-form {
  margin-left: 2em;
}

.contact-form h4 {
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-right: 2em;
}

.form input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid $terciary-color;
  color: $terciary-color;
}

.form textarea {
  height: 150px;
  background: none;
  color: $terciary-color;
  padding: 1.5em;
  border: 1px solid $terciary-color;
}

.btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: $main-color;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background-color: $terciary-color;
  }
}
