$secondary-color: #191c31;

.portfolio-section {
  background-color: $secondary-color;
}

.portfolio-container {
  background-color: $secondary-color;
}

.porfolio-footer {
  background-color: $secondary-color;
}
