$main-color: aqua;
$secondary-color: #191c31;
$terciary-color: #fff;

.flex-item img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
 
.sobremi-img {
  border: 7px solid $main-color;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: $main-color;
  margin-top: 5px;
  margin-bottom: 2.5em;
}

.img-sobremi {
  max-width: 700px; width: 100%; min-width: 500px
}

.sobremi-info {
  margin-right: 50px;
  padding: 3em;
}

.sobremi-cv {
  padding: 10px 20px;
  background-color: $main-color;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.sobremi-container {
  background-color: $secondary-color;
}

.sobremi-cv {
  padding: 10px 20px;
  background-color: $main-color;
  border: none;
  border-radius: 20px;
  margin-top: 2rem;
  cursor: pointer;

  &:hover {
    background-color: $terciary-color;
  }
}

.sobremi-footer {
  background-color: $secondary-color;
}
