<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <link rel="icon" href="../assets/img/duhalogo.png" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container-fluid index-container">
      <nav class="navbar navbar-expand-lg navbar-dark style-navbar">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="navbar-item nav-item">
              <a class="nav-link nav-item-link" href="../index.html">Inicio</a>
            </li>
            <li class="navbar-item nav-item">
              <a class="nav-link nav-item-link" href="./sobremi.html"
                >Sobre mi</a
              >
            </li>
            <li class="navbar-item nav-item">
              <a class="nav-link nav-item-link" href="./portfolio.html"
                >Portfolio</a
              >
            </li>
            <li class="navbar-item nav-item">
              <a class="nav-link nav-item-link" href="./contacto.html"
                >Contacto</a
              >
            </li>
          </ul>
        </div>
      </nav>

      <div class="contact-headings text-white">
        <h1>Sigamos conociéndonos</h1>
        <div class="divider"></div>
      </div>

      <div class="row contact-section">
        <div class="col">
          <img
            class="img-contact"
            src="../assets/img/duhalogo.png"
            alt="Octavio Duhalde perfil"
          />
        </div>
        <div class="col">
          <div class="contact-form">
            <h4>Enviame un mensaje...</h4>
            <form class="form">
              <input type="text" placeholder="Nombre" />
              <input type="email" placeholder="Email" />
              <textarea placeholder="Escribe tu mensaje aqui"></textarea>
              <button type="submit" class="btn-submit">Enviar mensaje</button>
            </form>
          </div>
        </div>
      </div>

      <footer class="index-footer">
        <div class="text-center text-white index-footer">
          <p>&copy; 2023 - Contacto</p>
        </div>
      </footer>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
