<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="icon" href="../assets/img/duhalogo.png" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <meta
      name="keywords"
      content="HTML, CSS, SCSS, JS, CURRICULUM, PORTFOLIO"
    />
    <meta name="og:description" content="Proyectos realizados por mi" />
  </head>
  <body>
    <div class="container-fluid index-container">
      <nav class="navbar navbar-expand-lg navbar-dark style-navbar">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="navbar-item nav-item">
              <a class="nav-link" href="../index.html">Inicio</a>
            </li>
            <li class="navbar-item nav-item">
              <a class="nav-link" href="./sobremi.html">Sobre mi</a>
            </li>
            <li class="navbar-item nav-item">
              <a class="nav-link" href="./portfolio.html">Portfolio</a>
            </li>
            <li class="navbar-item nav-item">
              <a class="nav-link" href="./contacto.html">Contacto</a>
            </li>
          </ul>
        </div>
      </nav>

      <div>
        <h1 class="display-4 text-white">Portfolio</h1>
        <p class="lead text-white">Proyectos recientes..</p>
      </div>

      <div class="portfolio-container">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img
                  class="card-img-top"
                  src="https://via.placeholder.com/300x200.png"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">Projecto 1</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    fringilla est eget enim sagittis, vel rhoncus odio commodo.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-primary">
                        Vista
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img
                  class="card-img-top"
                  src="https://via.placeholder.com/300x200.png"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">Projecto 2</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    fringilla est eget enim sagittis, vel rhoncus odio commodo.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-primary">
                        Vista
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img
                  class="card-img-top"
                  src="https://via.placeholder.com/300x200.png"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">Projecto 3</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    fringilla est eget enim sagittis, vel rhoncus odio commodo.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-primary">
                        Vista
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="porfolio-footer">
        <div class="col-md-12 text-center text-white">
          <p>&copy; 2023 - Mi Portfolio</p>
        </div>
      </footer>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
