<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="icon" href="../assets/img/duhalogo.png" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/portfolio.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg portfolder-navbar">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link text-white" href="../index.html"
              >Inicio <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="active text-white" href="./sobremi.html">Sobre mi</a>
          </li>
          <li class="nav-item">
            <a class="active text-white" href="./portfolio.html">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="active text-white" href="./contacto.html">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="jumbotron jumbotron-fluid portfolder-section">
      <div class="container">
        <h1 class="display-4 text-white">Portfolio</h1>
        <p class="lead text-white">Proyectos recientes..</p>
      </div>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/300x200.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Projecto 1</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                fringilla est eget enim sagittis, vel rhoncus odio commodo.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary">
                    Vista
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/300x200.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Projecto 2</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                fringilla est eget enim sagittis, vel rhoncus odio commodo.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary">
                    Vista
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/300x200.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Projecto 3</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                fringilla est eget enim sagittis, vel rhoncus odio commodo.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary">
                    Vista
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="container-fluid bg-light">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2023 - Mi Portfolio</p>
        </div>
      </div>
    </footer>
    <script>
      src = "js/bootstrap.min.js";
    </script>
  </body>
</html>
