<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre mi</title>
    <link rel="icon" href="../assets/img/duhalogo.png" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../styles/sobremi.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark style-navbar">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="navbar-item nav-item">
            <a class="nav-link nav-item-link" href="../index.html">Inicio</a>
          </li>
          <li class="navbar-item nav-item">
            <a class="nav-link nav-item-link" href="./sobremi.html">Sobre mi</a>
          </li>
          <li class="navbar-item nav-item">
            <a class="nav-link nav-item-link" href="./portfolio.html"
              >Portfolio</a
            >
          </li>
          <li class="navbar-item nav-item">
            <a class="nav-link nav-item-link" href="./contacto.html"
              >Contacto</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="flex-container sobremi-container">
      <div class="flex-item">
        <div class="row">
          <div class="col-md-6 sobremi-img">
            <img
              src="../assets/img/duhalogo.png"
              alt="Octavio Duhalde perfil"
              width="700px"
            />
          </div>
          <div class="col-md-6">
            <h1 class="display-4 text-white">Sobre mi</h1>
            <div class="divider"></div>
            <p class="text-white sobremi-info">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum,
              officiis quos ut cumque temporibus quo cupiditate ullam nobis quod
              sunt obcaecati perferendis, voluptatum, harum totam dolorum
              nesciunt tenetur saepe veritatis.
            </p>
            <p class="text-white sobremi-info">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit
              repellendus iure autem temporibus vel, ea, accusantium nam
              quaerat, doloribus hic voluptates et consequatur labore asperiores
              fugit dolore porro saepe numquam?
            </p>
            <p class="text-white sobremi-info">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Obcaecati illo voluptatum libero fugiat! Incidunt dicta saepe,
              modi doloremque tempore nihil vero ab cumque adipisci quos ratione
              illo officiis, culpa ex.
            </p>
            <button class="sobremi-cv">Seguir leyendo</button>
          </div>
        </div>
      </div>
    </div>

    <footer class="sobremi-footer container-fluid">
      <div class="row">
        <div class="col-md-12 text-center text-white sobremi-footer">
          <p>&copy; 2023 - Sobre mi</p>
        </div>
      </div>
    </footer>
    <script>
      src = "js/bootstrap.min.js";
    </script>
  </body>
</html>
