<html>
  <head>
    <title>Sobre mi</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="icon" href="../assets/img/duhalogo.png" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
    <script
      src="https://kit.fontawesome.com/62ec7f7ee4.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="about-wrapper">
      <header>
        <nav class="about-navbar">
          <ul class="about-menu">
            <li><a class="active" href="../index.html">Inicio</a></li>
            <li><a class="active" href="./sobremi.html">Sobre mi</a></li>
            <li><a class="active" href="./portfolio.html">Portfolio</a></li>
            <li><a class="active" href="./contacto.html">Contacto</a></li>
          </ul>
          <div class="about-toggle_menu">
            <i class="fa-solid fa-bars fa-2xl" id="open_toggle"></i>
          </div>
        </nav>
      </header>
    </div>
    <div class="about">
      <img
        src="../assets/img/duhalogo.png"
        alt="Octavio Duhalde perfil"
        width="700px"
      />
      <div class="about-info">
        <h2>Sobre mi</h2>
        <div class="divider"></div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum,
          officiis quos ut cumque temporibus quo cupiditate ullam nobis quod
          sunt obcaecati perferendis, voluptatum, harum totam dolorum nesciunt
          tenetur saepe veritatis.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit
          repellendus iure autem temporibus vel, ea, accusantium nam quaerat,
          doloribus hic voluptates et consequatur labore asperiores fugit dolore
          porro saepe numquam?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
          illo voluptatum libero fugiat! Incidunt dicta saepe, modi doloremque
          tempore nihil vero ab cumque adipisci quos ratione illo officiis,
          culpa ex.
        </p>
        <button class="download-cv">Seguir leyendo</button>
      </div>
    </div>
  </body>
</html>
