.style-navbar {
	background-color: #191c31;
	color: #fff;
	height: 100%;
	width: 100%;
	padding: 2rem;
}

.navbar-item a:hover {
	background-color: aqua;
	color: #191c31 !important;
	transition: background-color ease-in .4s;
	border-radius: 20px;
}

.portfolio-section {
	background-color: #191c31;
}

.portfolio-container {
	background-color: #191c31;
}

.porfolio-footer {
	background-color: #191c31;
}
